.rainbow-btns {
    position: relative;
    z-index: 2;
}

.rainbow-btns>.rainbow-btn {
    margin: 2px;
}

@media (max-width: 768px) {
    .jzs-select-product {
        position: relative;
    }

    .jzs-select-product .jzs-rainbow-btns {
        display: block;
    }

    .jzs-select-product .jzs-after-wave {
        display: none;
    }

    .jzs-homeplayer .jzs-select-product:after {
        top: unset;
        bottom: 0;
        transform: translateY(100%);
    }
}

/* rainbow rules */
:root {
    --jzs-btn-padding: 0 15px;
    --jzs-btn-border-width: 2px;
    /* couleur de fond */
    --jzs-gradient-1: to right, #1a1a1a, #323232;
    --jzs-gradient-1: to right, #d18660, #e0b532;
    --jzs-gradient-2: to right, #e0b532, #77ac3a;
    --jzs-gradient-3: to right, #77ac3a, #3fa180;
    --jzs-gradient-4: to right, #3fa180, #4c3dc4;
    --jzs-gradient-5: to right, #4c3dc4, #2e65a6;
    --jzs-gradient-6: to right, #2e65a6, #9d61d6;
}

.rainbow-btn.black {
    padding: var(--jzs-btn-padding);
    background: transparent;
    border-radius: 3em;
    color: $black;
    border: solid 2px $black;
    transition: all .3s;
}

.rainbow-btn.black::before {
    display: none;
}

.rainbow-btn.black:hover {
    background: $black;
    color: $white;
}

.rainbow-btn::before {
    position: absolute;
    border-radius: 2em;

    content: "";
    width: calc(100% - var(--jzs-btn-border-width) - var(--jzs-btn-border-width));
    height: calc(100% - var(--jzs-btn-border-width) - var(--jzs-btn-border-width));
    background-color: $white;
    transition: background-color .3s;
}

.rainbow-btn:hover::before {
    background-color: transparent;
}

.rainbow-btn:hover>span {
    color: $white;
}

.rainbow-btn>span {
    display: inline-block;
    padding: var(--jzs-btn-padding);
    padding-bottom: 2px;
    position: relative;
    color: transparent;
    background: $black;
    -webkit-background-clip: text;
    background-clip: text;
}

.rainbow-btn {
    background: $black;
    position: relative;
    display: inline-block;
    padding: var(--jzs-btn-border-width);
    border-radius: 2em;
}

@for $i from 1 through 6 {
    .rainbow-btn.gr-#{$i} {

        &,
        &>span {
            background-image: linear-gradient(var(--jzs-gradient-#{$i}));
        }
    }
}