/*! This CSS resource incorporates links to font software which is the valuable copyrighted property of Monotype and/or its suppliers. You may not attempt to copy, install, redistribute, convert, modify or reverse engineer this font software. Please contact Monotype with any questions regarding Web Fonts: https://www.linotype.com */
$framed-font: HelveticaNeue, sans-serif;
$default-font-family: "Roboto Regular", Helvetica, Arial, Lucida, sans-serif;
$default-font-size: 11px;

$mobile-width: 426px;
$tablet-width: 768px;
$desktop-width: 1024px;

$margin-side: 10px;
$frame-padding: 0 8px 1px 8px;
$border-width: 1px;
$player-height: 90vh;

$black: #242424;
$white: #f2f2f2;

// couleurs de background derrière le produit sur la page d'accueil + sur la page produit
$product-page-bg-color: #d7d6d7;
$homeplayer-bg-color: #d6d5d6;

%display_block {
    display: block;
}

%inline-block {
    display: inline-block;
}

%flex {
    display: flex;
}

%flex-1 {
    flex: 1;
}

%buy-btn {
    @extend %inline-block;
    $padding-side: 16px;
    font-family: $framed-font;
    font-weight: bold;
    padding: $frame-padding;
    padding-left: $padding-side;
    padding-right: $padding-side;
    background: $black;
    margin-left: 5px;
    color: $white;
    border: solid $border-width $black;
    // border-radius: 3em;
    transition: color, background 0.3s;

    &:hover {
        color: $black;
        background: transparent;
    }
}

%rainbow-box {
    border: solid 2px #ff9800;
    border-image: repeating-linear-gradient(
            90deg,
            #d03317 0%,
            #ff9800 15%,
            #ffeb3b 30%,
            #27ca2e 50%,
            #03a9f4 65%,
            #3f51b5 80%,
            #9c27b0 100%
        )
        10;
}

.btn {
    cursor: pointer;
}

body {
    font-family: $default-font-family !important;
    color: $black !important;
    margin: 0;
    padding: 0;
}

%header-gradient {
    background: linear-gradient(to right, #1a1a1a, #323232) !important;
}

#main-header {
    @extend %header-gradient;
    min-height: 48px;
}

.uppercase {
    text-transform: uppercase;
}

%jzs-framed {
    display: inline-block;
    border: solid $black;
    text-transform: uppercase;
    border-width: $border-width;
    color: $black;
}

%title-framed {
    letter-spacing: -1px;
    font-family: $framed-font;
    line-height: 1.7rem;
    font-weight: bold;
    font-size: $default-font-size;
    color: black;
}

.jzs-title-framed,
.woocommerce-billing-fields h3,
.woocommerce-checkout > h3 {
    @extend %jzs-framed;
    @extend %title-framed;
    font-family: $framed-font !important;
    font-weight: bold;
    min-width: 8rem;
    padding: 0 42px;
    text-align: center;
    transition: all 0.3s;
}

.jzs-title-font {
    @extend %title-framed;
}

a.jzs-title-framed:hover {
    color: $white;
    background-color: $black;
}

.jzs-btn-framed {
    @extend %jzs-framed;

    width: 8rem;
    line-height: 1.5rem;
    background: $black;
    display: inline-flex;
    margin: 0 1rem 1rem 0;
    font-family: $framed-font;
    font-size: $default-font-size;
    font-weight: bold;

    & > * {
        text-align: center;

        &:first-child {
            background: $white;
            width: 1.5rem;
            // line-height: 1.5rem;
        }
        &:last-child {
            @extend %flex-1;
            color: $white;
        }
    }
}

.jzs-header {
    color: $white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    line-height: 1;
    padding-top: 0;
}

.jzs-header > * {
    display: inline-block;
    vertical-align: middle;
}

.jzs-header .header-logo {
    margin-right: 0.5em;
}

.jzs-header .header-product-infos {
    border-left: solid 2px $white;
    padding-left: 1em;
    font-size: $default-font-size;
    font-family: $default-font-family;
}

.jzs-header .header-logo {
    content: url(https://chlores.io/wp-content/uploads/2019/05/logo_chlores__web_version.png);
    height: 1.5rem;
}

#jzs-product-status:after,
#jzs-product-status[data-islive]:after {
    content: "live";
    color: #03ffea;
}

#jzs-product-status[data-islive="false"]:after {
    content: "over";
    color: crimson;
}

@media (min-width: 981px) {
    .jzs-header {
        float: left;
        padding-top: 12px;
    }
}

@media (max-width: 980px) {
    .jzs-header .header-product-infos {
        margin-top: 6px;
    }
}

// on mobile display the icon instead of the full logo
@media (max-width: $mobile-width) {
    .jzs-header .header-product-infos {
        border: none;
        padding: 0;
    }

    .jzs-header .header-logo {
        content: url(https://chlores.io/wp-content/uploads/2019/05/icone_chlores__web_version.png);
        height: 2rem;
        margin-right: 2vw;
    }
}

@import "rainbow-btns";

@import "homeplayer";

@import "other-products";

@import "product/main";

@import "checkout/main";

@import "billing-page";

// ------------------------------------------------ //
// ZONE DE CUSTOMIZATION DU CSS D'ORIGINE DU THEME  //
// ------------------------------------------------ //

// hamburger btn inutile doit disparaitre
.mobile_menu_bar {
    opacity: 0;
    width: 0;
}

// header, cart et nombre d'articles dans le cart
#et-top-navigation {
    @media (max-width: 980px) {
        height: 2rem;
        padding-top: 0 !important;
        margin: 10px 0;
    }

    & > a > span {
        color: $white;
    }
}

// Faire en sorte que la marge du header soit la même que "SELECT PRODUCT"
.et_menu_container {
    max-width: calc(100% - 5vw) !important;
    width: calc(100% - 5vw) !important;
}
#main-header {
    overflow: hidden;
}

// faire disparaitre la barre blanche entre le header et le player sur la homepage

@media (min-width: 981px) {
    #page-container {
        padding-top: 42px !important;
    }
}

@media (max-width: 980px) {
    #page-container {
        padding-top: 50px !important;
    }
}

// in the top right corner
#jzs-cart-icon {
    $size-pastille: 1.5rem;

    color: $white;
    line-height: $size-pastille;

    & > * {
        @extend %inline-block;
        color: $black;
        background: $white;
        line-height: $size-pastille;
        width: $size-pastille;
        border-radius: 2rem;
        text-align: center;
    }
}

// Newsletter dans le footer
#main-footer {
    overflow: hidden;

    .container {
        width: unset;
        margin: 0 2.5vw;
        max-width: none;

        @media (max-width: $mobile-width) {
            min-height: 1.5rem;
        }
    }

    #footer-widgets {
        @extend %flex;
        padding: 3px 0 !important;
        flex-direction: row-reverse;
        width: 100%;
        line-height: 2rem;

        @media (max-width: $mobile-width) {
            flex-direction: column-reverse;
            margin-bottom: -3.5rem;
        }

        & > * {
            flex: 0.6;
            align-items: center;
            margin: 0;
            padding-right: 1rem;

            @media (max-width: $tablet-width) {
                flex: 2;
            }
        }

        & > *:first-child {
            @extend %flex-1;
            padding: 0;
            margin: 0 !important;
            text-align: right;

            @media (max-width: $mobile-width) {
                margin: -1.5rem 0 1rem 0 !important;
                text-align: center;
            }

            & > *,
            & > * > * {
                width: 100%;
                font-size: $default-font-size;
            }

            .jzs-footer-links {
                line-height: 1.5rem;
                padding-bottom: 0.5rem;

                a {
                    font-weight: bold;

                    &:not(:last-child) {
                        margin-right: 1rem;
                    }
                }
            }

            .jzs-footer-legal-infos {
                line-height: 1rem;

                a {
                    margin-right: 0.3rem;
                    line-height: 1.2rem;
                }
            }
        }
    }

    #newsletterwidgetminimal-2 {
        @extend %flex;
        position: relative;
        top: 50%;
        transform: translateY(-50%);

        @media (max-width: $mobile-width) {
            flex-direction: column;
            transform: initial;
        }

        .title {
            font-family: $framed-font;
            line-height: 1rem;
            margin-right: 1rem;
            font-size: 1rem;
            text-transform: uppercase;
            color: $white;
            padding: 0;
        }

        & > .tnp {
            @extend %flex-1;
        }

        form {
            @extend %flex;

            .tnp-email {
                @extend %flex-1;
                padding: 3px 5px;
                max-width: 12rem;
                background: none;
                color: white;
            }

            .tnp-submit {
                display: none;
            }
        }
    }
}
