// sass --watch public/css/scss/main.scss public/css/jzs-global.css --style=compressed --no-source-map
@import url('https://fonts.googleapis.com/css?family=Krona+One');

$framed-font: "Krona One", sans-serif;
$default-font-size: 11px;

$mobile-width: 426px;
$tablet-width: 768px;
$desktop-width: 1024px;

$margin-side: 10px;
$frame-padding: 0 8px 1px 8px;
$border-width: 1px;

$black: #242424;
$white: #f2f2f2;

%display_block {
    display: block;
}

%inline-block {
    display: inline-block;
}

%flex {
    display: flex;
}

%buy-btn {
    @extend %inline-block;
    $padding-side: 16px;
    font-family: $framed-font;
    padding: $frame-padding;
    padding-left: $padding-side;
    padding-right: $padding-side;
    background: $black;
    margin-left: 5px;
    color: $white;
    border: solid $border-width $black;
    // border-radius: 3em;
    transition: color, background .3s;

    &:hover {
        color: $black;
        background: transparent;
    }
}

%rainbow-box {
    border: solid 2px #ff9800;
    border-image: repeating-linear-gradient(90deg,
        #d03317 0%, #ff9800 15%, #ffeb3b 30%, #27ca2e 50%, #03a9f4 65%,
        #3f51b5 80%, #9c27b0 100%) 10;
}

.btn {
    cursor: pointer;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

%header-gradient {
    background: linear-gradient(to right, #1a1a1a, #323232) !important;
}

#main-header {
    @extend %header-gradient;
    min-height: 48px;
}

.uppercase {
    text-transform: uppercase;
}

%jzs-framed {
    display: inline-block;
    border: solid $black;
    text-transform: uppercase;
    border-width: $border-width;
    color: $black;
}

.jzs-title-framed,
.woocommerce-billing-fields h3,
.woocommerce-checkout>h3 {
    @extend %jzs-framed;
    font-family: $framed-font;
    min-width: 10em;
    padding: 5px 42px;
    text-align: center;
    transition: all .3s;
}

a.jzs-title-framed:hover {
    color: $white;
    background-color: $black;
}

.jzs-btn-framed {
    @extend %jzs-framed;
    font-family: $framed-font;
    margin: .5em;
    padding: 4px 0;
    padding-left: 8px;
    transition: all .5s;
}

.jzs-btn-framed-content {
    color: $white;
    background-color: $black;
    margin-left: 8px;
    padding: 4px 24px;
}

.jzs-title-font,
.jzs-title-framed {
    letter-spacing: -1px;
    font-family: $framed-font;
    font-size: 18px;
    color: black;
}

.jzs-header {
    color: $white;
    position: absolute;
    line-height: 1;
    padding-top: 12px;
}

.jzs-header>* {
    display: inline-block;
    vertical-align: middle;
}

.jzs-header .header-logo {
    color: $white;
    font-weight: bold;
    font-size: 1.5em;
    margin-right: .5em;
}

.jzs-header .header-product-infos {
    border-left: solid 2px $white;
    padding-left: 1em;
    font-size: $default-font-size;
}

#jzs-product-status:after,
#jzs-product-status[data-islive]:after {
    content: 'live';
    color: #03ffea;
}

#jzs-product-status[data-islive=false]:after {
    content: 'off';
    color: crimson;
}

@media (min-width: 981px) {
    .jzs-header {
        float: left;
    }
}

@media (max-width: 980px) {
    .jzs-header .header-product-infos {
        margin-top: 6px;
        border: none;
        padding: 0;
        display: block;
    }
}

// conteneur principal page d'accueil
#et-main-area {
    margin-top: 5px;
}

@import 'rainbow-btns';

@import 'homeplayer';

@import 'other-products';

@import 'product/main';

@import 'checkout/main';

@import 'billing-page';