/* PRODUCT PAGE CSS */
.button {
    background: transparent !important;
    border-radius: 3em !important;
    color: black !important;
    padding: 0 1em !important;
    font-size: initial !important;
    display: inline-block !important;
}

.button.disabled, .button:disabled {
    display: none !important;
}

.button:hover {
    color: white !important;
    background: black !important;
    border: solid black !important;
}

.button:hover::after {
    display: none !important;
}

.woocommerce-cart table.cart td.actions .coupon .input-text::placeholder {
    color: gray;
}

.woocommerce-cart table.cart td.actions .coupon .input-text, .woocommerce .quantity input.qty, .woocommerce div.product form.cart .variations td select {
    height: auto !important;
    padding: 5px !important;
    font-size: initial !important;
    color: black !important;
    background: white !important;
    border: solid 1px lightgray !important;
}

.woocommerce div.product div.images img {
    width: auto !important;
    margin: auto !important;
}

.entry-content ol, .woocommerce div.product div.images .flex-control-thumbs li {
    margin: 10px !important;
}