.jzs-select-product {
    z-index: 10;
    position: absolute;
    bottom: -2px;
    white-space: nowrap;
    width: 100%;
    /* max-width: 100%; */
    /* overflow: hidden; */
}

.jzs-rainbow-btns {
    display: inline-block;
    background: white;
    font-family: 'Roboto Regular', Helvetica, Arial, Lucida, sans-serif;
    padding: .5em;
    padding-left: 2.5vw;
    position: relative;
    min-height: 4em;
    vertical-align: middle;
    white-space: initial;
}

.jzs-after-wave {
    margin-left: -.5em;
    height: 4em;
    vertical-align: middle;
}

.jzs-select-product:after {
    content: '';
    z-index: 9;
    height: 10em;
    width: 100%;
    background: linear-gradient(to bottom, white, transparent);
    position: absolute;
    bottom: 0;
    transform: translateY(100%);
    left: 0;
}

.rainbow-btns {
    position: relative;
    z-index: 2;
}

.rainbow-btns>.rainbow-btn {
    margin: 2px;
}

@media (max-width: 768px) {
    .jzs-select-product {
        position: relative;
    }

    .jzs-select-product:after {
        top: unset;
        bottom: 0;
        transform: translateY(100%);
    }
}

/* rainbow rules */
:root {
    --johnsword-btn-border-width: 2px;
    /* taille de la bordure du boutton */
    --johnsword-bg-color: white;
    /* couleur de fond */
    --johnsword-gradient-1: linear, left top, right top, color-stop(0, #d18660), color-stop(1, #e0b532);
    --johnsword-gradient-2: linear, left top, right top, color-stop(0, #e0b532), color-stop(1, #77ac3a);
    --johnsword-gradient-3: linear, left top, right top, color-stop(0, #77ac3a), color-stop(1, #3fa180);
    --johnsword-gradient-4: linear, left top, right top, color-stop(0, #3fa180), color-stop(1, #4c3dc4);
    --johnsword-gradient-5: linear, left top, right top, color-stop(0, #4c3dc4), color-stop(1, #2e65a6);
    --johnsword-gradient-6: linear, left top, right top, color-stop(0, #2e65a6), color-stop(1, #9d61d6);
}

.rainbow-btn::before {
    position: absolute;
    border-radius: 2em;

    content: "";
    width: calc(100% - var(--johnsword-btn-border-width) - var(--johnsword-btn-border-width));
    height: calc(100% - var(--johnsword-btn-border-width) - var(--johnsword-btn-border-width));
    background-color: var(--johnsword-bg-color);
    transition: background-color .3s;
}

.rainbow-btn:hover::before {
    background-color: transparent;
}

.rainbow-btn:hover>span {
    color: white;
}

.rainbow-btn>span {
    display: inline-block;
    padding: 3px 1em;
    position: relative;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.rainbow-btn {
    position: relative;
    display: inline-block;
    padding: var(--johnsword-btn-border-width);
    border-radius: 2em;
}

.rainbow-btn.gr-1 {
    background-image: gradient(var(--johnsword-gradient-1));
    background-image: -webkit-gradient(var(--johnsword-gradient-1));
}

.rainbow-btn.gr-1>span {
    background-image: -webkit-gradient(var(--johnsword-gradient-1));
    background-image: gradient(var(--johnsword-gradient-1));
}

.rainbow-btn.gr-2 {
    background-image: gradient(var(--johnsword-gradient-2));
    background-image: -webkit-gradient(var(--johnsword-gradient-2));
}

.rainbow-btn.gr-2>span {
    background-image: -webkit-gradient(var(--johnsword-gradient-2));
    background-image: gradient(var(--johnsword-gradient-2));
}

.rainbow-btn.gr-3 {
    background-image: gradient(var(--johnsword-gradient-3));
    background-image: -webkit-gradient(var(--johnsword-gradient-3));
}

.rainbow-btn.gr-3>span {
    background-image: -webkit-gradient(var(--johnsword-gradient-3));
    background-image: gradient(var(--johnsword-gradient-3));
}

.rainbow-btn.gr-4 {
    background-image: gradient(var(--johnsword-gradient-4));
    background-image: -webkit-gradient(var(--johnsword-gradient-4));
}

.rainbow-btn.gr-4>span {
    background-image: -webkit-gradient(var(--johnsword-gradient-4));
    background-image: gradient(var(--johnsword-gradient-4));
}

.rainbow-btn.gr-5 {
    background-image: gradient(var(--johnsword-gradient-5));
    background-image: -webkit-gradient(var(--johnsword-gradient-5));
}

.rainbow-btn.gr-5>span {
    background-image: -webkit-gradient(var(--johnsword-gradient-5));
    background-image: gradient(var(--johnsword-gradient-5));
}

.rainbow-btn.gr-6 {
    background-image: gradient(var(--johnsword-gradient-6));
    background-image: -webkit-gradient(var(--johnsword-gradient-6));
}

.rainbow-btn.gr-6>span {
    background-image: -webkit-gradient(var(--johnsword-gradient-6));
    background-image: gradient(var(--johnsword-gradient-6));
}