.jzs-checkout {
    font-size: $default-font-size;
    margin: $margin-side;
    min-height: calc(100vh - 280px);

    %margin-bottom {
        margin-bottom: $margin-side;
    }

    &>.header {
        @extend %margin-bottom;
        border-bottom: solid 2px gray;

        h3 {
            font-size: $default-font-size;
        }
    }

    %flex-col-tablet {
        @extend %flex;
        flex-direction: row;

        @media (max-width: $tablet-width) {
            flex-direction: column;
        }
    }

    &>.content {
        @extend %flex-col-tablet;
        width: 100%;

        .products {
            flex: 3;
            margin-right: $margin-side;
            @extend %big-blocks;
            overflow: auto;

            .product-infos {
                transition: all .3s;

                &>.header {
                    @extend %margin-bottom;
                    width: 100%;
                    background: $black;
                    color: $white;

                    .badge {
                        @extend %inline-block;
                        font-family: $framed-font;
                        font-weight: bold;
                        border-radius: 2em;
                        border: solid 2px currentColor;
                        padding: $frame-padding;
                        margin: $margin-side;
                    }
                }

                .details {
                    @extend %flex-col-tablet;
                    padding: 10px;
                    padding-right: 0;
                    // background: $white;

                    %align-top {
                        vertical-align: top;
                    }

                    // big block last time seen

                    .thumbnail {
                        @extend %big-blocks;
                        flex: 1;
                        object-fit: contain;

                        &>img {
                            width: 100%;
                            border: solid 1px rgba(0, 0, 0, .1);
                        }
                    }

                    .text-part {
                        @extend %big-blocks;
                        position: relative;
                        flex: 3;

                        %not-full-width {
                            max-width: calc(100% - 25px);
                        }

                        .rm-btn {
                            @extend %inline-block;
                            position: absolute;
                            top: 0;
                            right: 0;
                            color: $white;
                            background: $black;
                            height: 20px;
                            width: 20px;
                            border-radius: 2em;
                            transition: background .3s;

                            strong {
                                position: absolute;
                                bottom: -2px;
                                left: 6px;
                            }

                            &:hover {
                                background: red;
                            }
                        }

                        .product-name {
                            @extend %margin-bottom;
                            @extend %not-full-width;
                            font-family: $framed-font;
                            font-weight: bold;
                            font-size: 1.2em;
                        }

                        .specs {
                            @extend %not-full-width;

                            &>* {
                                // @extend %margin-bottom;
                                @extend %inline-block;

                                .label,
                                .value {
                                    font-size: .8em;
                                    height: 1.2em;
                                    line-height: 0;
                                    padding: 6px 0;
                                    min-width: 10rem;
                                    margin-right: $margin-side / 2;
                                }

                                input[type=number]::-webkit-inner-spin-button {
                                    opacity: 1;
                                }
                            }
                        }

                        .price {
                            @extend %display_block;
                            @extend %margin-bottom;

                            text-align: right;
                        }
                    }
                }
            }
        }

        .total-price-box {
            flex: 1;
            @extend %flex;
            min-height: 150px;
            padding: $margin-side;
            position: relative;
            @extend %rainbow-box;

            .bottom-part {
                flex: 1;
                @extend %flex;
                flex-direction: column;
                text-align: right;

                .gap {
                    flex: 1;
                }

                .line {
                    border-top: solid 1px lightgray;
                    @extend %flex;

                    .label {
                        flex: 1;
                        text-align: left;
                    }
                }

                .order-btn-section {
                    margin-top: $margin-side;

                    .order-btn {
                        @extend %buy-btn;
                    }
                }
            }
        }
    }

    %big-blocks {
        @extend %align-top;
        @extend %inline-block;
        margin-right: $margin-side;

        @media (max-width: $tablet-width) {
            margin: 0;
        }
    }
}