<div class="jzs-checkout" id="jzs-checkout">
    <div class="header">
        <h3>CART</h3>
    </div>
    <div class="content">
        <div class="products" id="jzs-cart-products">
            <em>Loading ...</em>
        </div>
        <div class="total-price-box">
            <strong class="header">TOTAL</strong>
            <div class="bottom-part">
                <span class="gap"></span>
                <div class="line">
                    <em class="label">subtotal</em>
                    <span class="value" id="jzs-checkout-subtotal">€0.00</span>
                </div>
                <div class="line">
                    <em class="label">delivery</em>
                    <span class="value" id="jzs-checkout-delivery">€0.00</span>
                </div>
                <div class="order-btn-section">
                    <label class="order-btn btn"><strong>ORDER</strong></label>
                </div>
            </div>
        </div>
    </div>
</div>