.jzs-product {
    width: 100%;
    @extend %display_block;
    position: relative;
    color: $black;
    font-size: $default-font-size;

    .product-section {
        .imgs {
            height: $player-height;
            width: 100%;
            background: $product-page-bg-color;

            img {
                height: 100%;
                max-width: 100%;
                object-fit: cover;
                margin: auto;
                @extend %display_block;

                &:not(.focused) {
                    display: none;
                }
            }
        }

        .controls {
            position: absolute;
            display: flex;
            flex-direction: row;
            top: 50%;
            width: 100%;
            transform: translateY(-50%);

            %flex_side {
                flex: 3;
            }

            @media (max-width: $mobile-width) {
                position: relative;
                transform: unset;
                flex-direction: column;
            }

            .gap {
                flex: 2;
            }

            @import 'left-ctrls';

            @import 'right-ctrls';
        }
    }
}

// customization of woocommerce "added to cart" notification
.woocommerce .woocommerce-error,
.woocommerce .woocommerce-info,
.woocommerce .woocommerce-message {
    @extend %header-gradient;
    margin: 0;
    margin-top: .5em;
    padding: 5px 2em !important;
    font-size: $default-font-size !important;
}

.woocommerce-message a.button.wc-forward {
    border-radius: 2rem;
    padding: 0 2em 0 1em !important;
    font-family: $framed-font !important;
    font-size: $default-font-size !important;
    text-transform: uppercase;
    color: $black !important;
    background: $white;
}

.woocommerce-message a.button.wc-forward::after {
    content: "";
    opacity: 1;
    height: 0;
    width: 0;
    border: solid 5px transparent;
    border-left-color: $black;
    top: 4px;
    right: 4px;
}